<?xml version="1.0" encoding="UTF-8"?>
{% block content %}
{% autoescape false %}
{# for loop is for json objects. remove if using csv multi-importer #}
<mods
        xmlns="http://www.loc.gov/mods/v3"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:mods="http://www.loc.gov/mods/v3" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-4.xsd">
    <titleInfo type="translated">
        <title lang="eng">{{ data.book_title_english }}</title>
    </titleInfo>
    <titleInfo>
        <title><![CDATA[ {{ data.book_title_original }} ]]></title>
    </titleInfo>

    {% if data.name1 is not empty%}
        <name type="personal">
            <role>
                <roleTerm authority="marcrelator" type="text">{{ data.role1 }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ data.name1 }}]]></namePart>
            <affiliation>{{ data.affiliationdepartment1 }}</affiliation>
        </name>
    {% endif %}

    {% if data.name2 is not empty%}
        <name type="personal">
            <role>
                <roleTerm authority="marcrelator" type="text">{{ data.role2 }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ data.name2 }}]]></namePart>
            <affiliation>{{ data.affiliationdepartment2 }}</affiliation>
        </name>
    {% endif %}

    {% if data.name3 is not empty%}
        <name type="personal">
            <role>
                <roleTerm authority="marcrelator" type="text">{{ data.role3 }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ data.name3 }}]]></namePart>
            <affiliation>{{ data.affiliationdepartment3 }}</affiliation>
        </name>
    {% endif %}

    {% if data.name4 is not empty%}
        <name type="personal">
            <role>
                <roleTerm authority="marcrelator" type="text">{{ data.role4 }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ data.name4 }}]]></namePart>
            <affiliation>{{ data.affiliationdepartment4 }}</affiliation>
        </name>
    {% endif %}

    {% if data.name5 is not empty%}
        <name type="personal">
            <role>
                <roleTerm authority="marcrelator" type="text">{{ data.role5 }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ data.name5 }}]]></namePart>
            <affiliation>{{ data.affiliationdepartment5 }}</affiliation>
        </name>
    {% endif %}

    {% if data.name6 is not empty%}
        <name type="personal">
            <role>
                <roleTerm authority="marcrelator" type="text">{{ data.role6 }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ data.name6 }}]]></namePart>
            <affiliation>{{ data.affiliationdepartment6 }}</affiliation>
        </name>
    {% endif %}

    <abstract><![CDATA[ {{ data.abstract }} ]]></abstract>
    <note><![CDATA[{{ data.notes }}]]></note>
    <language>
        <languageTerm authority="iso639-2" type="code">gez</languageTerm>
    </language>

    {% if attribute(data, 'genre') %}
        {% for genresplit in attribute(data, 'genre')|split (';') %}
            <genre><![CDATA[{{ genresplit|trim }}]]></genre>
        {% endfor %}
    {% endif %}

    <typeOfResource>text</typeOfResource>
    <identifier type="local">{{ data.manuscript_number }}</identifier>
    <identifier type="former"><![CDATA[  {{ data.former_identifiers }} ]]></identifier>

    {% if data.date_created_text1 is not empty%}
    <originInfo eventType="productionDates">
        <dateCreated>{{ data.date_created_text1 }}</dateCreated>
        <dateCreated point="start">{{ data.startkeydate1 }}</dateCreated>
        <dateCreated point="end">{{ data.endkeydate1 }}</dateCreated>
    </originInfo>
    {% endif %}

    {% if data.date_created_text2 is not empty%}
        <originInfo eventType="productionDates">
            <dateCreated>{{ data.date_created_text2 }}</dateCreated>
            <dateCreated point="start">{{ data.startkeydate2 }}</dateCreated>
            <dateCreated point="end">{{ data.endkeydate2 }}</dateCreated>
        </originInfo>
    {% endif %}

    {% if data.date_created_text3 is not empty%}
        <originInfo eventType="productionDates">
            <dateCreated>{{ data.date_created_text3 }}</dateCreated>
            <dateCreated point="start">{{ data.startkeydate3 }}</dateCreated>
            <dateCreated point="end">{{ data.endkeydate3 }}</dateCreated>
        </originInfo>
    {% endif %}

    <originInfo>
        <issuance>monographic</issuance>
        <dateCaptured>{{ data.date_captured }}</dateCaptured>
        <place>
            <placeTerm authority="marccountry">{{ data.country_origininfo }}</placeTerm>
        </place>
        <place>
            <placeTerm type="text">{{ data.place_origininfo }}</placeTerm>
        </place>
    </originInfo>

    <physicalDescription>
        <extent>{{ data.dimensions }}</extent>
        <form>{{ data.medium }}</form>
        <form type="binding">{{ data.binding }}</form>
        <form type="decoration"><![CDATA[ {{ data.decoration_description }} ]]></form>
        <note><![CDATA[ {{ data.physical_description_notes }} ]]></note>
    </physicalDescription>

    <location>
        <holdingSimple>
            <copyInformation>
                <form>electronic</form>
                <subLocation>University of Toronto Scarborough</subLocation>
            </copyInformation>
        </holdingSimple>
        <physicalLocation>Monastery of Gunda Gunde</physicalLocation>
    </location>

    <subject>
        {% for topic_item in data.topic |split ('|') %}
            <topic><![CDATA[ {{ topic_item|trim }} ]]></topic>
        {% endfor %}
        <geographic/>
        <temporal>{{ data.temporal1 }}</temporal>
        <hierarchicalGeographic>
            <continent>{{ data.continent }}</continent>
            <country>{{ data.country }}</country>
            <region>{{ data.region }}</region>
            <province>{{ data.province }}</province>
            <city>{{ data.city }}</city>
            <citySection>{{ data.city_section }}</citySection>
        </hierarchicalGeographic>
        <cartographics>
            <coordinates>14.1968735,38.5452165</coordinates>
        </cartographics>
    </subject>

    <relatedItem type="isReferencedBy">
        <note><![CDATA[ {{ data.bibliographic_information }}]]></note>
    </relatedItem>

    <accessCondition>Digital files found on the Digital Scholarship Unit site are meant for research and private study used in compliance with copyright legislation.  Access to digital images and text found on this website and the technical capacity to download or copy it does not imply permission to re-use. Prior written permission to publish, or otherwise use images and text found on the website must be obtained from copyright holder. Please contact Archives and Special Collections for further information.</accessCondition>


</mods>
{% endautoescape %}

{% endblock %}