<?xml version="1.0" encoding="UTF-8"?>
{% block content %}
{% autoescape false %}
{% for data in gg %}


<mods
  xmlns="http://www.loc.gov/mods/v3"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:mods="http://www.loc.gov/mods/v3" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-4.xsd">
  <titleInfo type="translated">
    <title lang="eng">{{ data.Book_Title_English }}</title>
  </titleInfo>
  <titleInfo>
    <title>{{ data.Book_Title_Original }}</title>
  </titleInfo>
  <language>
    <languageTerm authority="iso639-2b" type="code">gez</languageTerm>
  </language>
  <identifier type="local">{{ data.Manuscript_Number }}</identifier>
  <identifier type="former">{{ data.Former_Identifiers }}</identifier>

  <name type="personal">
    <role>
      <roleTerm authority="marcrelator" type="text">{{ data.Role1 }}</roleTerm>
    </role>
    <namePart>{{ data.Name1 }}</namePart>
    <affiliation>{{ data.AffiliationDepartment1 }}</affiliation>
  </name>

  <name type="personal">
    <role>
      <roleTerm authority="marcrelator" type="text">{{ data.Role2 }}</roleTerm>
    </role>
    <namePart>{{ data.Name2 }}</namePart>
    <affiliation>{{ data.AffiliationDepartment2 }}</affiliation>
  </name>

  <name type="personal">
    <role>
      <roleTerm authority="marcrelator" type="text">{{ data.Role3 }}</roleTerm>
    </role>
    <namePart>{{ data.Name3 }}</namePart>
    <affiliation>{{ data.AffiliationDepartment3 }}</affiliation>
  </name>

  <name type="personal">
    <role>
      <roleTerm authority="marcrelator" type="text">{{ data.Role4 }}</roleTerm>
    </role>
    <namePart>{{ data.Name4 }}</namePart>
    <affiliation>{{ data.AffiliationDepartment4 }}</affiliation>
  </name>

  <name type="personal">
    <role>
      <roleTerm authority="marcrelator" type="text">{{ data.Role5 }}</roleTerm>
    </role>
    <namePart>{{ data.Name5 }}</namePart>
    <affiliation>{{ data.AffiliationDepartment5 }}</affiliation>
  </name>

  <name type="personal">
    <role>
      <roleTerm authority="marcrelator" type="text">{{ data.Role6 }}</roleTerm>
    </role>
    <namePart>{{ data.Name6 }}</namePart>
    <affiliation>{{ data.AffiliationDepartment6 }}</affiliation>
  </name>

  <abstract>{{ data.Abstract }}</abstract>

{% if attribute(data, 'Genre') %}
{% for genre in attribute(data, 'Genre')|split (';') %}
<genre>{{ Genre|trim }}</genre>


  <originInfo>
    <dateCreated qualifier="{{ data.Date_Created_Qualifier1 }}">{{ data.Date_Created1 }}</dateCreated>
    <dateCreated keyDate="yes">{{ data.KeyDate1 }}</dateCreated>

    <dateCreated qualifier="{{ data.Date_Created_Qualifier2 }}">{{ data.Date_Created2 }}</dateCreated>
    <dateCreated keyDate="yes">{{ data.KeyDate2 }}</dateCreated>

    <dateCreated qualifier="{{ data.Date_Created_Qualifier3 }}">{{ data.Date_Created3 }}</dateCreated>
    <dateCreated keyDate="yes">{{ data.KeyDate3 }}</dateCreated>


    <issuance>monographic</issuance>
    <dateCaptured>{{ data.Date_Captured }}</dateCaptured>
    <place>
      <placeTerm authority="marccountry">{{ data.Country_OriginInfo }}</placeTerm>
    </place>
    <place>
      <placeTerm type="text">{{ data.Place_OriginInfo }}</placeTerm>
    </place>
  </originInfo>
  <physicalDescription>
    <note type="medium">{{ data.Medium }}</note>
  </physicalDescription>
  <physicalDescription>
    <note type="binding">{{ data.Binding }}</note>
  </physicalDescription>
  <physicalDescription>
    <extent>{{ data.Dimensions }}</extent>
    <note>{{ data.Physical_Description_Notes }}</note>
  </physicalDescription>
  <physicalDescription>
    <note type="decoration">{{ data.Decoration_Description }}</note>
  </physicalDescription>
  <note>{{ data.Notes }}</note>
  <subject>
    <topic>{{ data.Topic }}</topic>
    <geographic/>
    <temporal>{{ data.Temporal1 }}</temporal>
    <hierarchicalGeographic>
      <continent>{{ data.Continent }}</continent>
      <country>{{ data.Country }}</country>
      <region>{{ data.Region }}</region>
      <province>{{ data.Province }}</province>
      <city>{{ data.City }}</city>
      <citySection>{{ data.City_Section }}</citySection>
    </hierarchicalGeographic>
    <cartographics>
      <coordinates>14.1968735,38.5452165</coordinates>
    </cartographics>
  </subject>
  <location>
    <holdingSimple>
      <copyInformation>
        <form>electronic</form>
        <subLocation>University of Toronto Scarborough</subLocation>
      </copyInformation>
    </holdingSimple>
  </location>
  <location>
    <physicalLocation>Monastery of Gunda Gunde</physicalLocation>
  </location>
  <accessCondition>{{Digital files found on the Digital Scholarship Unit site are meant for research and private study used in compliance with copyright legislation.  Access to digital images and text found on this website and the technical capacity to download or copy it does not imply permission to re-use. Prior written permission to publish, or otherwise use images and text found on the website must be obtained from copyright holder. Please contact Archives and Special Collections for further information.}}</accessCondition>
  <recordInfo>
    <recordOrigin>{{ data.Bibliographic_Information }}</recordOrigin>
  </recordInfo>
  <typeOfResource>{{ data.Resource_Type }}</typeOfResource>
</mods>

{% endfor %}
{% endautoescape %}

{% endblock %}
