<?xml version="1.0" encoding="UTF-8"?>
{% block content %}
{% autoescape false %}
<mods
        xmlns="http://www.loc.gov/mods/v3"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:mods="http://www.loc.gov/mods/v3" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-4.xsd">

    <titleInfo>
        <title lang="eng"><![CDATA[ {{ data.mods_titleinfo_title_ms }} ]]></title>
        {% if data.mods_titleinfo_subtitle_ms is not empty%}
            <subTitle>{{ data.mods_titleinfo_subtitle_ms }}</subTitle>
        {% endif %}
    </titleInfo>

    {% if data.mods_name_corporate_role_roleTerm_text_ms is not empty%}
        {% set role_corporate = data.mods_name_corporate_role_roleTerm_text_ms|split(':') %}
        <name type="corporate">
            <role>
                <roleTerm type="text">{{ role_corporate[0] }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ role_corporate[1] }}]]></namePart>
        </name>
    {% endif %}

    {% if data.mods_name_personal_role_roleterm_text_ms_1 is not empty%}
        {% set role_person1 = data.mods_name_personal_role_roleterm_text_ms_1|split(':') %}
        <name type="personal">
            <role>
                <roleTerm type="text">{{ role_person1[0] }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ role_person1[1] }}]]></namePart>
        </name>
    {% endif %}

    {% if data.mods_name_personal_role_roleterm_text_ms_2 is not empty%}
        {% set role_person2 = data.mods_name_personal_role_roleterm_text_ms_2|split(':') %}
        <name type="personal">
            <role>
                <roleTerm type="text">{{ role_person2[0] }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ role_person2[1] }}]]></namePart>
        </name>
    {% endif %}

    {% if data.mods_name_personal_role_roleterm_text_ms_3 is not empty%}
        {% set role_person3 = data.mods_name_personal_role_roleterm_text_ms_3|split(':') %}
        <name type="personal">
            <role>
                <roleTerm type="text">{{ role_person3[0] }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ role_person3[1] }}]]></namePart>
        </name>
    {% endif %}

    <typeOfResource>{{  data.mods_typeofresource_ms }}</typeOfResource>
    <genre>{{  data.mods_genre_aat }}</genre>
    <language>
        {% for language in data.mods_language_languageterm_code_ms |split ('|') %}
            <languageTerm authority="iso639-2" type="code">{{ language|trim }}</languageTerm>
        {% endfor %}
    </language>

    <abstract><![CDATA[ {{ data.mods_abstract_ms }} ]]></abstract>
    <note><![CDATA[ {{ data.mods_note }} ]]></note>
    <identifier type="local">{{ data.mods_identifier_local_ms }}</identifier>
    <accessCondition>Digital files found on the Digital Scholarship Unit site are meant for research and private study used in compliance with copyright legislation.  Access to digital images and text found on this website and the technical capacity to download or copy it does not imply permission to re-use. Prior written permission to publish, or otherwise use images and text found on the website must be obtained from copyright holder. Please contact Archives and Special Collections for further information.</accessCondition>

    <originInfo>
        <publisher>{{  data.mods_origininfo_publisher_ms }}</publisher>
        <place>
            <placeTerm type="text">{{  data.mods_origininfo_place_placeterm_text_ms }}</placeTerm>
        </place>
        <dateCreated>{{  data.mods_origininfo_datecreated }}</dateCreated>
        {% if data.mods_origininfo_datecreated_start is not empty%}
            <dateCreated point="start">{{ data.mods_origininfo_datecreated_start }}</dateCreated>
        {% endif %}
        {% if data.mods_origininfo_datecreated_end is not empty%}
            <dateCreated point="end">{{ data.mods_origininfo_datecreated_end }}</dateCreated>
        {% endif %}
    </originInfo>

    <physicalDescription>
        <extent><![CDATA[ {{ data.mods_physicaldescription_extent_ms }}]]></extent>
        <note><![CDATA[ {{ data.mods_physicaldescription_note_ms }}]]></note>
    </physicalDescription>

    {% if data.mods_relateditem_host_titleinfo_title_ms is not empty%}
        <relatedItem type="host">
            <titleInfo>
                <title><![CDATA[ {{ data.mods_relateditem_host_titleinfo_title_ms }} ]]></title>
            </titleInfo>
        </relatedItem>
    {% endif %}

    <subject>
        {% for topic in data.mods_subject_topic_ms |split ('|') %}
            <topic><![CDATA[ {{ topic|trim }} ]]></topic>
        {% endfor %}
        {% for temporal in data.mods_subject_temporal_ms |split ('|') %}
            <temporal><![CDATA[ {{ temporal|trim }} ]]></temporal>
        {% endfor %}
        <hierarchicalGeographic>
            <continent>{{ data.mods_subject_hierarchicalgeographic_continent_ms }}</continent>
            <country>{{ data.mods_subject_hierarchicalgeographic_country_ms }}</country>
            <state>{{ data.mods_subject_hierarchicalgeographic_state_ms }}</state>
            <province>{{ data.mods_subject_hierarchicalgeographic_province_ms }}</province>
            <region>{{ data.mods_subject_hierarchicalgeographic_region_ms }}</region>
            <city>{{ data.mods_subject_hierarchicalgeographic_city_ms }}</city>
            <citysection>{{ data.mods_subject_hierarchicalgeographic_citysection_ms }}</citysection>
        </hierarchicalGeographic>
    </subject>

    <location>
        <holdingSimple>
            <copyInformation>
                <form>electronic</form>
                <subLocation>University of Toronto Scarborough</subLocation>
            </copyInformation>
        </holdingSimple>
        <physicalLocation><![CDATA[University of Toronto Scarborough Library, Archives & Special Collections]]></physicalLocation>
    </location>


</mods>
{% endautoescape %}
{% endblock %}
