<?xml version="1.0" encoding="UTF-8"?>
{% block content %}
{% autoescape false %}
<mods
        xmlns="http://www.loc.gov/mods/v3"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:mods="http://www.loc.gov/mods/v3" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-4.xsd">
    <titleInfo>
        <title lang="eng"><![CDATA[ {{ data.mods_titleinfo_title }} ]]></title>
        {% if data.mods_titleinfo_subtitle is not empty%}
            <subTitle>{{ data.mods_titleinfo_subtitle }}</subTitle>
        {% endif %}
    </titleInfo>
    {% if data.mods_name_corporate_role_roleterm_text is not empty%}
        {% set role_corporate = data.mods_name_corporate_role_roleterm_text|split(':') %}
        <name type="corporate">
            <role>
                <roleTerm type="text">{{ role_corporate[0] }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ role_corporate[1] }}]]></namePart>
        </name>
    {% endif %}
    {% if data.mods_name_personal_role_roleterm_text_1 is not empty%}
        {% set role_person1 = data.mods_name_personal_role_roleterm_text_1|split(':') %}
        <name type="personal">
            <role>
                <roleTerm type="text">{{ role_person1[0] }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ role_person1[1] }}]]></namePart>
        </name>
    {% endif %}
    {% if data.mods_name_personal_role_roleterm_text_2 is not empty%}
        {% set role_person2 = data.mods_name_personal_role_roleterm_text_2|split(':') %}
        <name type="personal">
            <role>
                <roleTerm type="text">{{ role_person2[0] }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ role_person2[1] }}]]></namePart>
        </name>
    {% endif %}
    {% if data.mods_name_personal_role_roleterm_text_3 is not empty%}
        {% set role_person3 = data.mods_name_personal_role_roleterm_text_3|split(':') %}
        <name type="personal">
            <role>
                <roleTerm type="text">{{ role_person3[0] }}</roleTerm>
            </role>
            <namePart><![CDATA[{{ role_person3[1] }}]]></namePart>
        </name>
    {% endif %}
    <typeOfResource>{{ data.mods_typeofresource }}</typeOfResource>
    <genre><![CDATA[{{ data.mods_genre_aat }}]]></genre>
    <abstract><![CDATA[{{ data.description }}]]></abstract>
    <language>
        {% for language in data.mods_language_languageterm |split ('|') %}
            <languageTerm authority="iso639-2" type="code">{{ language|trim }}</languageTerm>
        {% endfor %}
    </language>
    <originInfo>
        <publisher>{{ data.mods_origininfo_publisher }}</publisher>
        <place>
            <placeTerm type="text">{{ data.mods_origininfo_place_placeterm_text }}</placeTerm>
        </place>
        <dateCreated>{{  data.mods_origininfo_datecreated }}</dateCreated>
        {% if data.mods_origininfo_datecreated_start is not empty%}
            <dateCreated point="start">{{ data.mods_origininfo_datecreated_start }}</dateCreated>
        {% endif %}
        {% if data.mods_origininfo_datecreated_end is not empty%}
            <dateCreated point="end">{{ data.mods_origininfo_datecreated_end }}</dateCreated>
        {% endif %}
        <copyrightDate>{{ data.mods_origininfo_copyrightdate }}</copyrightDate>
    </originInfo>
    <physicalDescription>
        <form authority="smd"><![CDATA[ {{ data.mods_physicaldescription_form_authority_marcsmd }}]]></form>
        <extent><![CDATA[ {{ data.mods_physicaldescription_extent }}]]></extent>
        <reformattingQuality><![CDATA[ {{ data.mods_reformatting_quality }}]]></reformattingQuality>
        <note><![CDATA[ {{ data.mods_physicaldescription_note }}]]></note>
        <digitalOrigin><![CDATA[ {{ data.mods_physicaldescription_digitalorigin }}]]></digitalOrigin>
        <internetMediaType><![CDATA[ {{ data.mods_physicaldescription_internetmediatype }}]]></internetMediaType>
    </physicalDescription>
    <subject authority="local">
        {% for topic in data.mods_subject_topic |split ('|') %}
            <topic><![CDATA[ {{ topic|trim }} ]]></topic>
        {% endfor %}
        {% for geographic in data.mods_subject_geographic |split ('|') %}
            <geographic><![CDATA[ {{ geographic|trim }} ]]></geographic>
        {% endfor %}
        {% for temporal in data.mods_subject_temporal |split ('|') %}
            <temporal><![CDATA[ {{ temporal|trim }} ]]></temporal>
        {% endfor %}
        {% for subjectname in data.mods_subject_name |split ('|') %}
        <name type="personal">
            <namePart>{{ subjectname|trim }}</namePart>
        </name>
        {% endfor %}
        <hierarchicalGeographic>
            <continent><![CDATA[{{ data.mods_subject_hierarchicalgeographic_continent }}]]></continent>
            <country><![CDATA[{{ data.mods_subject_hierarchicalgeographic_country }}]]></country>
            <state><![CDATA[{{ data.mods_subject_hierarchicalgeographic_state }}]]></state>
            <province><![CDATA[{{ data.mods_subject_hierarchicalgeographic_province }}]]></province>
            <region><![CDATA[{{ data.mods_subject_hierarchicalgeographic_region }}]]></region>
            <county><![CDATA[{{ data.mods_subject_hierarchicalgeographic_county }}]]></county>
            <island><![CDATA[{{ data.mods_subject_hierarchicalgeographic_island }}]]></island>
            <city><![CDATA[{{ data.mods_subject_hierarchicalgeographic_city }}]]></city>
            <citysection><![CDATA[{{ data.mods_subject_hierarchicalgeographic_citysection }}]]></citysection>
        </hierarchicalGeographic>
        <cartographics>
           <coordinates><![CDATA[{{ data.mods_subject_hierarchicalgeographic_citysection }}]]></coordinates>
        </cartographics>
    </subject>
    {% if data.mods_relateditem_host_titleinfo_title is not empty %}
    <relatedItem type="host">
        <titleInfo>
            <title><![CDATA[{{ data.mods_relateditem_host_titleinfo_title }}]]></title>
        </titleInfo>
    </relatedItem>
    {% endif %}
    {% if data.mods_accesscondition is not empty%}
    <accessCondition><![CDATA[ {{ data.mods_accesscondition }}]]></accessCondition>
    {% else %}
    <accessCondition><![CDATA[ Digital files found in the UTSC Library's Digital Collections are meant for research and private study used in compliance with copyright legislation. Access to digital images and text found on this website and the technical capacity to download or copy it does not imply permission to re-use. Prior written permission to publish, or otherwise use images and text found on the website must be obtained from the copyright holder. Please contact UTSC Library, Archives & Special Collections for further information.]]></accessCondition>
    {% endif %}
    <location>
        <url usage="primary display"><![CDATA[{{ data.mods_location }}]]></url>
    </location>
    <identifier type="uri">{{ data.mods_uri_pid}}</identifier>
    <identifier type="local"><![CDATA[{{ data.mods_identifier_local}}]]></identifier>
    <note><![CDATA[{{ data.note }}]]></note>
    <recordInfo>
        <languageOfCataloging>
        {% if data.mods_recordinfo_langofcataloguing_code is not empty %}
            <languageTerm authority="iso639-2" type="code">{{  data.mods_recordinfo_langofcataloguing_code }}</languageTerm>
        {% else %}
        {# Assume language of cataloguing is eng #}
            <languageTerm authority="iso639-2" type="code">eng</languageTerm>
        {% endif %}
        </languageOfCataloging>
    </recordInfo>
</mods>
{% endautoescape %}
{% endblock %}
